name: Compile Arduino Sketch

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Compile sketch for Arduino UNO
        uses: arduino/compile-sketches@v1
        with:
          fqbn: arduino:avr:uno
          sketch-paths: |
            ./src/hw_2_conditional_control_of_three_leds_with_a_button1

      - name: Compile firmware
        run: |
          ./bin/arduino-cli compile \
            --fqbn arduino:avr:uno \
            --output-dir build \
             ./src/hw_2_conditional_control_of_three_leds_with_a_button1

      - name: Upload compiled firmware
        uses: actions/upload-artifact@v4
        with:
          name: arduino-uno-firmware-bin
          path: build/**/*.hex
